.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
.headerImage{
  color: black;
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.header>h3{
  color: white;
}
.main{
  width: 70%;
  text-align: center;
  padding: auto;
  margin: auto;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardImage{
  width: 3px;
  height: 50px;
}
.details{
  text-align: left;
  padding: 0px 20px;
}
.details>p{
  max-width: 500px;
}
.path{
  width: 20px;
  color: #F55A5A;
}